<a href="https://colab.research.google.com/github/humanufo-hash/python-test/blob/main/customers_and_orders.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Technical Challenge ! Custiomers and Orders - The lifeblood of any business!

This notebook depends on two data files: customers.scv and orders.csv. These files are hosted in the cloud (or Github), so for simplicity, we are providing you with the code to download and save the two files in a folder called 'sample_data' which lives within this notebook session (not on your local computer nor Google Drive).

![sample_data folder in notebook session](https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/images/sample_data_folder.png)

Please execute the first code snippet before moving to the rest of the exercise as this code will import the data from the files for you to be able to execute the rest of the exercise.

Remember as we said in the previous lecture, you have to save this notebook into your Google Drive by going to menu File/Save a Copy In Drive, or clicking in the button "Copy to Drive". This way, you will not lose any work you've done and the file will persist with your latest changes in your Google Drive. Also we recommend you to rename your .ipynb in your Google Drive, so you can easily find it in the future.

In [9]:
import requests

def import_data_files():
  r = requests.get('https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/data/customers.csv')
  with open('./sample_data/customers.csv', 'wb') as f:
    f.write(r.content)

  r = requests.get('https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/data/orders.csv')
  with open('./sample_data/orders.csv', 'wb') as f:
    f.write(r.content)
  
import_data_files()
print("Customers and orders CSV files have been added './sample_data'")

Customers and orders CSV files have been added './sample_data'

# Exercise 1: Processing Customers data (difficulty medium)

The sample customer data in 'customers.csv' file has just 5 columns: CustomerId, First Name, Last Name, City and State

![Data sample](https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/images/customers.png)

We strongly recommend that you complete from the [Prep Course: Intro to Python](https://colab.research.google.com/github/anyoneai/notebooks/blob/main/python3_crash_course.ipynb) the following section:
- Section 7: File I/O (to understand how to read CSV file) 
- Section 6: For Loop (to navigate the contents of the CSV file)
- Section 5: Tuples, Lists, and Dictionaries (to manipulate the data of the CSV file)

With this, we hope you can complete this exercise successfully. Although if you want to solve this with libraries or any other way, you are welcome to do it your way.

*Hint:* We advise you to take a look at the data before you start.
**if you want to manually take a look at the data before you start, please see the content of the data [here](https://github.com/anyoneai/notebooks/blob/main/customers_and_orders/data/customers.csv).

*Hint*: There are many ways to do this exercise you can do your own, although here's some help. You can solve this exercise reading and parsing CSV files, structuring data into dictionaries, and using for loops to navigate the contents

*Hint*: Also, keep in mind that data might not be clean and you might have to figure out how to deal with that data from the code, without having to modify the data source.

Below are the 5 questions you'll have to answer to pass the evaluation:

**Question 1:** How many customers are in the file?
(as help, we have added some comments and starter code to help you structure the solution)

In [10]:
from os.path import exists
import csv

# check if file can be found and open the file
datafile = "./sample_data/customers.csv"
if not exists(datafile):
  raise SystemExit("You should run the first code cell and download the dataset files!")

# customers file is in the sample_data folder and can be opened.
# Using csv reader is one way of dealing with the file 
# but it's up to you how you want to proceed
with open(datafile, 'r') as fl:
  csvreader = csv.reader(fl, delimiter=',')

  # loop through the rows and count etc. THE REST IS UP TO YOU!
  row_count = sum(1 for row in csvreader)
  print(row_count)
print("All done!")

603
All done!

**Question 2:** In how many different states do the customers live in?

In [ ]:
import numpy as np
import pandas as pd
# open file and init vars
# evaluate the contents of the file
df = pd.read_csv(datafile)

In [ ]:
df

     CustomerID    FirstName      LastName         City State
0          6192        Randi    Piedrahita  Canoga Park    CA
1       5100595  Christopher       Abraham   Loma Linda    CA
2       1902451        Elvis      Jauregui  Los Angeles    CA
3       1906377         Jose  Mota-Sanchez       Downey    CA
4       1902406      Scott        McCrorie   Long Beach    CA
..          ...          ...           ...          ...   ...
597     5415365      Trinity     Hall Reif        Poway    CA
598     5415465       Kisona   Mialoto Jr.      Lynwood    CA
599     5415345     Lawrence         Zhang  Temple City    CA
600     5415481         John        Hughes    Round Top    TX
601     5415482      Phillip        Okonma  Los Angeles    CA

[602 rows x 5 columns]

[❌hacemos un drop duplicates para buscar posibles errores:](https://)

In [ ]:
df['State'].drop_duplicates()

0                 CA
23                AZ
65                NV
76                FL
95     CA
99                WA
108               NH
129               ID
164               CO
203               Ca
207               TX
242               NM
350               OR
499               UT
565               MA
578               IN
Name: State, dtype: object

Vemos un problema con el 95 y 203

In [ ]:
type(df.iloc[95]['State'])

In [ ]:
len(df.iloc[95]['State'])

13

[A simple vista es un problema de minisculas y espacios en blanco](https://)

In [ ]:
dfaux=df[:]["State"].str.upper()

In [ ]:
dfaux

0      CA
1      CA
2      CA
3      CA
4      CA
       ..
597    CA
598    CA
599    CA
600    TX
601    CA
Name: State, Length: 602, dtype: object

In [ ]:
for index, value in dfaux.items():
  dfaux.iloc[index]=dfaux.iloc[index].strip()

In [ ]:
from collections import defaultdict

In [ ]:
type(dfaux)

pandas.core.series.Series

In [ ]:
dfaux

0      CA
1      CA
2      CA
3      CA
4      CA
       ..
597    CA
598    CA
599    CA
600    TX
601    CA
Name: State, Length: 602, dtype: object

In [ ]:
lista=dfaux

[Transformamos la serie en diccionario para poder iterar sobre un Dataframe y agrupar con pandas.](https:// [texto del enlace](https://))

In [ ]:
lista=lista.to_dict()

In [ ]:
lista

{0: 'CA',
 1: 'CA',
 2: 'CA',
 3: 'CA',
 4: 'CA',
 5: 'CA',
 6: 'CA',
 7: 'CA',
 8: 'CA',
 9: 'CA',
 10: 'CA',
 11: 'CA',
 12: 'CA',
 13: 'CA',
 14: 'CA',
 15: 'CA',
 16: 'CA',
 17: 'CA',
 18: 'CA',
 19: 'CA',
 20: 'CA',
 21: 'CA',
 22: 'CA',
 23: 'AZ',
 24: 'CA',
 25: 'CA',
 26: 'CA',
 27: 'CA',
 28: 'CA',
 29: 'CA',
 30: 'CA',
 31: 'CA',
 32: 'CA',
 33: 'CA',
 34: 'CA',
 35: 'CA',
 36: 'CA',
 37: 'CA',
 38: 'CA',
 39: 'CA',
 40: 'CA',
 41: 'CA',
 42: 'CA',
 43: 'CA',
 44: 'CA',
 45: 'CA',
 46: 'CA',
 47: 'CA',
 48: 'CA',
 49: 'CA',
 50: 'CA',
 51: 'CA',
 52: 'CA',
 53: 'CA',
 54: 'CA',
 55: 'CA',
 56: 'CA',
 57: 'CA',
 58: 'CA',
 59: 'CA',
 60: 'CA',
 61: 'CA',
 62: 'CA',
 63: 'CA',
 64: 'CA',
 65: 'NV',
 66: 'CA',
 67: 'CA',
 68: 'CA',
 69: 'CA',
 70: 'CA',
 71: 'CA',
 72: 'CA',
 73: 'CA',
 74: 'CA',
 75: 'CA',
 76: 'FL',
 77: 'CA',
 78: 'CA',
 79: 'CA',
 80: 'CA',
 81: 'NV',
 82: 'CA',
 83: 'CA',
 84: 'CA',
 85: 'CA',
 86: 'CA',
 87: 'CA',
 88: 'CA',
 89: 'CA',
 90: 'CA',
 91: 'CA',
 92: 'CA',
 93: 'CA',
 94: 'CA',
 95: 'CA',
 96: 'CA',
 97: 'CA',
 98: 'CA',
 99: 'WA',
 100: 'CA',
 101: 'CA',
 102: 'CA',
 103: 'CA',
 104: 'CA',
 105: 'CA',
 106: 'CA',
 107: 'CA',
 108: 'NH',
 109: 'CA',
 110: 'CA',
 111: 'CA',
 112: 'CA',
 113: 'CA',
 114: 'CA',
 115: 'CA',
 116: 'CA',
 117: 'CA',
 118: 'CA',
 119: 'CA',
 120: 'CA',
 121: 'CA',
 122: 'CA',
 123: 'CA',
 124: 'CA',
 125: 'CA',
 126: 'CA',
 127: 'CA',
 128: 'CA',
 129: 'ID',
 130: 'CA',
 131: 'CA',
 132: 'CA',
 133: 'CA',
 134: 'CA',
 135: 'CA',
 136: 'CA',
 137: 'CA',
 138: 'CA',
 139: 'CA',
 140: 'CA',
 141: 'CA',
 142: 'CA',
 143: 'CA',
 144: 'CA',
 145: 'CA',
 146: 'CA',
 147: 'CA',
 148: 'CA',
 149: 'CA',
 150: 'CA',
 151: 'CA',
 152: 'CA',
 153: 'CA',
 154: 'CA',
 155: 'CA',
 156: 'CA',
 157: 'CA',
 158: 'CA',
 159: 'CA',
 160: 'CA',
 161: 'CA',
 162: 'CA',
 163: 'CA',
 164: 'CO',
 165: 'CA',
 166: 'CA',
 167: 'CA',
 168: 'CA',
 169: 'CA',
 170: 'CA',
 171: 'CA',
 172: 'CA',
 173: 'CA',
 174: 'CA',
 175: 'CA',
 176: 'CA',
 177: 'CA',
 178: 'CA',
 179: 'CA',
 180: 'AZ',
 181: 'CA',
 182: 'CA',
 183: 'CA',
 184: 'CA',
 185: 'CA',
 186: 'CA',
 187: 'CA',
 188: 'CA',
 189: 'CA',
 190: 'CA',
 191: 'CA',
 192: 'CA',
 193: 'CA',
 194: 'CA',
 195: 'CA',
 196: 'CA',
 197: 'CA',
 198: 'CA',
 199: 'CA',
 200: 'CA',
 201: 'CA',
 202: 'CA',
 203: 'CA',
 204: 'CA',
 205: 'CA',
 206: 'CA',
 207: 'TX',
 208: 'CA',
 209: 'CA',
 210: 'CA',
 211: 'CA',
 212: 'CA',
 213: 'CA',
 214: 'CA',
 215: 'CA',
 216: 'CA',
 217: 'NV',
 218: 'CA',
 219: 'CA',
 220: 'CA',
 221: 'CA',
 222: 'CA',
 223: 'CA',
 224: 'CA',
 225: 'CA',
 226: 'CA',
 227: 'CA',
 228: 'CA',
 229: 'CA',
 230: 'CA',
 231: 'CA',
 232: 'CA',
 233: 'CA',
 234: 'CA',
 235: 'CA',
 236: 'CA',
 237: 'CA',
 238: 'CA',
 239: 'CA',
 240: 'CA',
 241: 'CA',
 242: 'NM',
 243: 'CA',
 244: 'CA',
 245: 'CA',
 246: 'CA',
 247: 'CA',
 248: 'CA',
 249: 'CA',
 250: 'CA',
 251: 'CA',
 252: 'CA',
 253: 'CA',
 254: 'CA',
 255: 'CA',
 256: 'CA',
 257: 'CA',
 258: 'CA',
 259: 'CA',
 260: 'CA',
 261: 'CA',
 262: 'CA',
 263: 'CA',
 264: 'CA',
 265: 'CA',
 266: 'CA',
 267: 'CA',
 268: 'CA',
 269: 'CA',
 270: 'CA',
 271: 'CA',
 272: 'NV',
 273: 'CA',
 274: 'CA',
 275: 'CA',
 276: 'CA',
 277: 'AZ',
 278: 'CA',
 279: 'CA',
 280: 'CA',
 281: 'CA',
 282: 'CA',
 283: 'CA',
 284: 'CA',
 285: 'CA',
 286: 'CA',
 287: 'CA',
 288: 'CA',
 289: 'CA',
 290: 'CA',
 291: 'CA',
 292: 'CA',
 293: 'CA',
 294: 'CA',
 295: 'CA',
 296: 'CA',
 297: 'NV',
 298: 'CA',
 299: 'CA',
 300: 'CA',
 301: 'CA',
 302: 'CA',
 303: 'CA',
 304: 'CA',
 305: 'CA',
 306: 'CA',
 307: 'CA',
 308: 'CA',
 309: 'CA',
 310: 'CA',
 311: 'CA',
 312: 'CA',
 313: 'CA',
 314: 'CA',
 315: 'CA',
 316: 'CA',
 317: 'CA',
 318: 'CA',
 319: 'CA',
 320: 'AZ',
 321: 'CA',
 322: 'CA',
 323: 'CA',
 324: 'CA',
 325: 'CA',
 326: 'CA',
 327: 'CA',
 328: 'CA',
 329: 'CA',
 330: 'CA',
 331: 'CA',
 332: 'CA',
 333: 'CA',
 334: 'CA',
 335: 'CA',
 336: 'CA',
 337: 'CA',
 338: 'CA',
 339: 'CA',
 340: 'CA',
 341: 'CA',
 342: 'CA',
 343: 'CA',
 344: 'CA',
 345: 'CA',
 346: 'CA',
 347: 'CA',
 348: 'CA',
 349: 'AZ',
 350: 'OR',
 351: 'CA',
 352: 'CA',
 353: 'CA',
 354: 'CA',
 355: 'CA',
 356: 'CA',
 357: 'AZ',
 358: 'CA',
 359: 'CA',
 360: 'CA',
 361: 'CA',
 362: 'CA',
 363: 'CA',
 364: 'CA',
 365: 'CA',
 366: 'CA',
 367: 'CA',
 368: 'CA',
 369: 'CA',
 370: 'CA',
 371: 'CA',
 372: 'CA',
 373: 'CA',
 374: 'CA',
 375: 'CA',
 376: 'CA',
 377: 'CA',
 378: 'CA',
 379: 'CA',
 380: 'CA',
 381: 'CA',
 382: 'CA',
 383: 'CA',
 384: 'CA',
 385: 'CA',
 386: 'CA',
 387: 'CA',
 388: 'CA',
 389: 'CA',
 390: 'CA',
 391: 'CA',
 392: 'CA',
 393: 'CA',
 394: 'CA',
 395: 'CA',
 396: 'CA',
 397: 'CA',
 398: 'CA',
 399: 'CA',
 400: 'CA',
 401: 'CA',
 402: 'CA',
 403: 'CA',
 404: 'CA',
 405: 'CA',
 406: 'CA',
 407: 'CA',
 408: 'CA',
 409: 'CA',
 410: 'CA',
 411: 'CA',
 412: 'CA',
 413: 'CA',
 414: 'CA',
 415: 'CA',
 416: 'CA',
 417: 'CA',
 418: 'CA',
 419: 'CA',
 420: 'CA',
 421: 'CA',
 422: 'CA',
 423: 'CA',
 424: 'CA',
 425: 'CA',
 426: 'CA',
 427: 'CA',
 428: 'CA',
 429: 'CA',
 430: 'CA',
 431: 'CA',
 432: 'NM',
 433: 'CA',
 434: 'CA',
 435: 'CA',
 436: 'CA',
 437: 'CA',
 438: 'CA',
 439: 'CA',
 440: 'CA',
 441: 'CO',
 442: 'CA',
 443: 'CA',
 444: 'CA',
 445: 'CA',
 446: 'CA',
 447: 'CA',
 448: 'CA',
 449: 'CA',
 450: 'CA',
 451: 'CA',
 452: 'CA',
 453: 'CA',
 454: 'CA',
 455: 'CA',
 456: 'CA',
 457: 'CA',
 458: 'CA',
 459: 'CA',
 460: 'CA',
 461: 'CA',
 462: 'CA',
 463: 'CA',
 464: 'CA',
 465: 'CA',
 466: 'CA',
 467: 'CA',
 468: 'NV',
 469: 'CA',
 470: 'CA',
 471: 'CA',
 472: 'CA',
 473: 'CA',
 474: 'CA',
 475: 'NM',
 476: 'CA',
 477: 'CA',
 478: 'CA',
 479: 'CA',
 480: 'CA',
 481: 'CA',
 482: 'FL',
 483: 'CA',
 484: 'CA',
 485: 'CA',
 486: 'CA',
 487: 'CA',
 488: 'CA',
 489: 'CA',
 490: 'CA',
 491: 'CA',
 492: 'CA',
 493: 'CA',
 494: 'CA',
 495: 'CA',
 496: 'CA',
 497: 'CA',
 498: 'CA',
 499: 'UT',
 500: 'CA',
 501: 'CA',
 502: 'CA',
 503: 'CA',
 504: 'CO',
 505: 'CA',
 506: 'CA',
 507: 'CA',
 508: 'CA',
 509: 'CA',
 510: 'CA',
 511: 'CA',
 512: 'CA',
 513: 'CA',
 514: 'CA',
 515: 'CA',
 516: 'CA',
 517: 'UT',
 518: 'CA',
 519: 'CA',
 520: 'CA',
 521: 'CA',
 522: 'CA',
 523: 'CA',
 524: 'CA',
 525: 'CA',
 526: 'CA',
 527: 'CA',
 528: 'CA',
 529: 'CA',
 530: 'CA',
 531: 'CA',
 532: 'FL',
 533: 'CA',
 534: 'CA',
 535: 'CA',
 536: 'CA',
 537: 'CA',
 538: 'CA',
 539: 'CA',
 540: 'CA',
 541: 'CA',
 542: 'CA',
 543: 'CA',
 544: 'CA',
 545: 'CA',
 546: 'CA',
 547: 'CA',
 548: 'CA',
 549: 'CA',
 550: 'CA',
 551: 'NV',
 552: 'CA',
 553: 'NV',
 554: 'CA',
 555: 'CA',
 556: 'CA',
 557: 'CA',
 558: 'CA',
 559: 'CA',
 560: 'CA',
 561: 'CA',
 562: 'CA',
 563: 'CA',
 564: 'CA',
 565: 'MA',
 566: 'CA',
 567: 'CA',
 568: 'CA',
 569: 'CA',
 570: 'CA',
 571: 'CA',
 572: 'CA',
 573: 'CA',
 574: 'CA',
 575: 'CA',
 576: 'CA',
 577: 'CA',
 578: 'IN',
 579: 'CA',
 580: 'CA',
 581: 'CA',
 582: 'CA',
 583: 'CA',
 584: 'CA',
 585: 'CA',
 586: 'CA',
 587: 'CA',
 588: 'CA',
 589: 'CA',
 590: 'CA',
 591: 'CA',
 592: 'CA',
 593: 'CA',
 594: 'CA',
 595: 'CA',
 596: 'CA',
 597: 'CA',
 598: 'CA',
 599: 'CA',
 600: 'TX',
 601: 'CA'}

In [ ]:
lf = pd.DataFrame([[key, lista[key]] for key in lista.keys()], columns=['id', 'state'])

In [ ]:
lf

      id state
0      0    CA
1      1    CA
2      2    CA
3      3    CA
4      4    CA
..   ...   ...
597  597    CA
598  598    CA
599  599    CA
600  600    TX
601  601    CA

[602 rows x 2 columns]

In [ ]:
freq = lf.groupby('state').size() 
freq

state
AZ      6
CA    569
CO      3
FL      3
ID      1
IN      1
MA      1
NH      1
NM      3
NV      8
OR      1
TX      2
UT      2
WA      1
dtype: int64

In [ ]:
state_cant = sum(1 for row in freq.groupby(['state']))

In [ ]:
state_cant

14

**Question 3** What is the state with most customers?

In [ ]:
freq

state
AZ      6
CA    569
CO      3
FL      3
ID      1
IN      1
MA      1
NH      1
NM      3
NV      8
OR      1
TX      2
UT      2
WA      1
dtype: int64

In [ ]:
max_value = None
max_idx = None
# evaluate the contents of the file
for i, num in enumerate(freq):
    if (max_value is None or num > max_value):
        max_value = num
        max_state = i

In [ ]:
print('Maximum value:', max_value, "At index: ", max_state)

Maximum value: 569 At index:  1

In [ ]:
freq.index[max_state]

'CA'

**Question 4** What is the state with the least customers?

In [ ]:
freq[:]

state
AZ      6
CA    569
CO      3
FL      3
ID      1
IN      1
MA      1
NH      1
NM      3
NV      8
OR      1
TX      2
UT      2
WA      1
dtype: int64

In [ ]:
a=freq.min()

In [ ]:
a

1

In [ ]:
states_min=[]
min_value = 9999
min_idx = None
# evaluate the contents of the file
for i, num in enumerate(freq): 
    print(num)
    if (num == a):
        min_value = num
        min_state = i
        states_min.append(freq.index[min_state])

6
569
3
3
1
1
1
1
3
8
1
2
2
1

In [ ]:
states_min

['ID', 'IN', 'MA', 'NH', 'OR', 'WA']

**Question 5:** What is the most common last name?

In [ ]:
ln=df['LastName'].value_counts()

In [ ]:
ln.head(10)

Smith       8
Zambrana    5
Gomez       5
Doggett     5
Rocha       4
Huynh       4
Perez       4
Mumford     4
Johnson     4
Guerra      4
Name: LastName, dtype: int64

In [ ]:
max_value = None
max_idx = None
# evaluate the contents of the file
for i, num in enumerate(ln):
    if (max_value is None or num > max_value):
        max_value = num
        max_lastname = i

In [ ]:
print(max_value)

8

In [ ]:
print(max_lastname)

0

In [ ]:
ln.index[max_lastname]

'Smith'

# Exercise 2: Processing Orders data (difficulty high)

The second sample files contains orders placed by customers from the first file. Be careful, this file has many rows and you most likely should not print the contents of the whole file. 

The file contains the following columns: CustomerID, OrderID, Date, OrderTotal, ProductName, Price

![Data sample](https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/images/orders.png)

*Hint:* We advise you to take a look at the data before you start.
**if you want to manually take a look at the data before you start, please see the content of the data [here](https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/data/orders.csv).

*Hint*: There are many ways to do this exercise you can do your own, although here's some help. You can solve this exercise reading and parsing CSV files, structuring data into dictionaries, and using for loops to navigate the contents

*Hint*: Also, the data is not clean and you will have to figure out how to deal with that data from the code, without having to modify the data source.



**Question #1:** How many unique orders are in the orders.csv file?

**Question #2:** What is the average number of items per order (rounded to two decimal places)?

**Question #3:** What is the highest number of items per order?

**Question #4:** What is the number of orders placed in October 2021?

**Question #5:** Which customer spent the most amount of money in 2021?

**Question #6:** Historically, what is the best month for sales?

Once you get your answers, remember to go back to the course and introduce them in the multiple choice quiz

In [5]:
import pandas as pd
import numpy as np

In [11]:
datafile = "./sample_data/orders.csv"
if not exists(datafile):
  raise SystemExit("You should run the first code cell and download the dataset files!")

# customers file is in the sample_data folder and can be opened.
# Using csv reader is one way of dealing with the file 
# but it's up to you how you want to proceed
with open(datafile, 'r') as fl:
  csvreader = csv.reader(fl, delimiter=',')

  # loop through the rows and count etc. THE REST IS UP TO YOU!
  row_count = sum(1 for row in csvreader)
  print(row_count)
print("All done!")

29295
All done!

In [12]:
df= pd.read_csv(datafile)

In [13]:
df

,CustomerID,OrderID,Date,OrderTotal,ProductName,Price
0,8091,7742581,2021-07-26 14:40:10.783,95.0,Z03,90.0
1,902139,7742778,2021-08-08 05:01:21.120,60.0,0844 A/C,60.0
2,2300266,7742593,2021-07-27 11:00:16.020,185.0,M07,90.0
3,2300266,7742593,2021-07-27 11:00:16.020,185.0,M09,90.0
4,5173013,7742609,2021-07-28 14:26:13.930,165.0,0324,160.0
...,...,...,...,...,...,...
29289,5415451,7791815,2022-02-07 14:37:30.567,0.0,Circle #041,0.0
29290,5415483,7791820,2022-02-07 15:55:55.260,132.0,HH33,125.0
29291,5415485,7791822,2022-02-07 16:23:05.940,132.0,3568,125.0
29292,4300695,7791824,2022-02-07 16:55:33.343,157.0,0414,150.0
29293,5415503,7791848,2022-02-09 10:36:56.553,132.0,PP22,125.0

In [14]:
df['OrderID'].unique()

array([7742581, 7742778, 7742593, ..., 7791822, 7791824, 7791848])

In [ ]:
Question #1: How many unique orders are in the orders.csv file?

Question #2: What is the average number of items per order (rounded to two decimal places)?

Question #3: What is the highest number of items per order?

Question #4: What is the number of orders placed in October 2021?

Question #5: Which customer spent the most amount of money in 2021?

Question #6: Historically, what is the best month for sales?

# Finished!

Hope this was not too difficult and slicing and dicing the datasets was some fun. Now head on back to the course and provide the answers to the questions from this exercise.